<!DOCTYPE html>
<%- include ('./partials/header.ejs') %>

<link rel="stylesheet" href="/css/style.css">

<body>
    <h1>Warcraft Treasure Hunter</h1>

	<h2><%= seed.name %></h2>

	<img class ="itemImage" src='<%=seed.img%>'></img>

   <div class ="description">
	<p><%= seed.text %></p>
   </div>
   

</body>

  <%- include ('./partials/footer.ejs') %>

</html>
	